<div class="searchBar">
    <div class="container">
        <form action="/search" method="POST" class="search__form" role="search" >
        
            <input
            type="Search"
            aria-label="Search"
            id="searchInput"
            naem="searchTerm"
            placeholder="Search for train bookings..."/>

        </form>
        <div class="searchClose">Close</div>
    </div>
</div>