<h1>About</h1>
<h3>Welcome to Train Booker. This is a simple train booking system where you can enter all details of your train journey.</h3>
<h2>Instructions:</h2>
<h3>To add a booking click on the 'add new booking' button and enter the booking details. You can also edit and delete your bookings.</h3>
